@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    background-image: linear-gradient(to right, green, rgb(0, 255, 0));
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 700px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin-top: 170px;
    line-height: 2em;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.600);
}

h1 {
    padding-bottom: 50px;
    text-align: center;
    text-decoration: underline;
    color: rgb(0, 200, 0);
}

tr {
    background-color: green;
}

tr:nth-child(even) {
    background-color: grey;
}

th {
    padding: 5px;
    text-align: left;
    border: 2px solid rgb(180, 180, 180);
    border-radius: 5px;
}

td {
    padding: 5px;
    text-align: right;
    border: 2px solid rgb(180, 180, 180);
    border-radius: 5px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    margin-top: 99px;
    padding: 20px;
    text-align: center;
    background-image: linear-gradient(to right, rgb(29, 29, 29), black);
    font-size: 12pt;
}

footer a {
    color: green;
    font-weight: bold;
}